#mainNavbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
}

#mainNavbar .navbar-brand {
    color: #de3545;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    letter-spacing: 0.05em;
}

#mainNavbar .navbar-nav .nav-item .nav-link {
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    color: #fff;
}

#mainNavbar .navbar-nav .nav-item .nav-link.active,
#mainNavbar .navbar-nav .nav-item .nav-link:hover {
    color: #fa836a;
}
/* lg ve altı ekranlarda */
@media(max-width:991.98px) {
    #mainNavbar .navbar-nav .nav-item .nav-link {
        color: #212529;
    }
}
/* lg ve üstü ekranlarda */
@media(min-width:992px)
{
    #mainNavbar
    {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border: none;
        background-color: #212529;
        transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
        -webkit-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
        -moz-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
        -ms-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
        -o-transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
    }

    #mainNavbar .navbar-brand {
        font-size: 1rem;
        transition: font-size 0.3s ease-in-out;
        -webkit-transition: font-size 0.3s ease-in-out;
        -moz-transition: font-size 0.3s ease-in-out;
        -ms-transition: font-size 0.3s ease-in-out;
        -o-transition: font-size 0.3s ease-in-out;
    }


    #mainNavbar.navbar-mobile .navbar-brand {
        font-size: 1rem;
    }

    #mainNavbar.navbar-mobile {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #212529;
    }
}
